* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
a {
  /* color: #fff; */
  color: rgb(168, 168, 197);
  /* color: rgb(126, 177, 147); */
  /*  rgb(170, 203, 184); */
  /* rgb(126, 177, 147); */
}

body {
  background-color: #444;
  /* color: rgb(90, 127, 102); */
  /* color: #664444; */
  font-family: 'Times New Roman', Times, serif;
}

header {
  margin-top: 3rem;
}

main {
  margin-left: 3rem;
  margin-bottom: 2rem;
}

a {
  /* color: rgb(90, 127, 102); */
  text-transform: none;
}

h1,
h2,
h3,
h4,
h5,
.header-item {
  /* font-family: 'Helvetica'; */
  font-family: 'Macondo', 'Times New Roman', serif;
  /* Macondo */
  padding-bottom: 1rem;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

p,
ul {
  font-size: 20px;
  padding-bottom: 2rem;
  max-width: 80%;
}

main p img {
  max-width: 100%;
}

nav {
  width: 100%;
  height: 80vh;
  background-color: #444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* position: fixed; */
  top: 10vh;
  left: 0;
  /* overflow: hidden; */
}

nav a {
  /* color: rgb(90, 127, 102);   */
  text-transform: none;
  font-size: clamp(20px, calc(2vw + 2vh), 90px);
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

nav a canvas {
  width: clamp(40px,calc(19vw + 20vh - 120px),240px);
}

div#header-single {
  width: 100%;
  /* height: 20vh; */
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  position: relative;
  margin-left: 3rem;
  margin-bottom: 2rem;
}

div#header-single canvas {
  width: clamp(40px, calc(16px + 8vw), 90px);
}

div#header-single a {
  padding-right: 4vw;
}

div#header-single h1 {
  font-size: clamp(40px, calc(16px + 8vw), 90px);
}

.imgrow {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.imgrow img {
  flex: 1 1 calc(33.33% - 20px);
  min-width: 100px;
  margin: 10px;
  width: 100%;
  height: 100%;
}

/* .imgrow {
  display: flex;
  flex-direction: row;
  width: 80%;
  gap: 30px;
  margin-bottom: 30px;
}

.imgrow img {
  flex-grow: 1;
  width: 100%;
  height: 100%;
} */


ul {
  padding-left: 1.5rem;
}


li {
  padding-left: 0.5rem;
}

/* li::marker {
  content: "▸";
} */