{{ define "main" }}

{{- $page := . }}

<header>
  <nav>
    <a href="/" class="header-item">
      {{ partial "animation.html" (dict "size" "800") }}
    </a>
    {{- with index site.Menus "main" }}
    {{- range . }}
    <a class="header-item" href="{{ .URL }}">
      {{ .Name }}
    </a>
    {{- end }}
    {{- end }}
  </nav>
</header>

{{- end }}