{{ define "main" }}

<header>
  <nav>
    <a href="/" class="header-item">
      {{ partial "animation.html" (dict "size" "800") }}
    </a>
    {{ range .Pages }}
    <a class="header-item" href="{{ .RelPermalink }}">
      {{ .LinkTitle }}
    </a>
    {{ end }}
  </nav>
</header>

<!-- {{ partial "menu.html" (dict "menuID" "main" "page" .) }} -->

<!-- <h1>{{ .Title }}</h1> -->
<!-- {{ .Content }}
  {{ range .Pages }}
    <a href="{{ .RelPermalink }}">
      <h2>{{ .LinkTitle }}</h2>
      <p>{{ .Summary }}...</p>
    </a>
  {{ end }} -->
{{ end }}