{{ define "main" }}

{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Date | time.Format ":date_long" }}

<header>
  <div id="header-single">
    <a href="/">
      {{ partial "animation.html" (dict "size" "800") }}
    </a>
    <h1>{{ .Title }} </h1>
    <!-- <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time> -->
  </div>
</header>

<main>
  {{ .Content }}
  <!-- {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }} -->
</main>


{{ end }}