<!-- <p>Copyright {{ now.Year }}. All rights reserved.</p> -->


<script id="fragment-shader" type="x-shader/x-fragment">
  precision mediump float;
  varying vec4 v_color;
  varying vec2 vcoord;
  uniform float time;
  void main () {
    vec2 z;
    z.x = 0.8 * vcoord.x;
    z.y = 0.8 * vcoord.y;    
    float u = 0.918 + 0.02 * sin(time) + 0.02 * sin(time / 1.109340389);
    float tp;
    int id = 0;
    float x;
    float y;
    for(int i = 0; i < 100; i++) {
      tp = 0.4 - 6.0 / (1.0 + 0.1 * sin(time / 1.823098242890) + z.x * z.x + z.y * z.y);
      x = 1.0 + u * (z.x * cos(tp) - z.y * sin(tp));
      y = u * (z.x * sin(tp) + z.y * cos(tp));                
      if((x * x + y * y) > 4.0) break;
      z.x = x;
      z.y = y;
      id = i;
    }
    float within = float((vcoord.x*vcoord.x + vcoord.y*vcoord.y) < 1.0);
    float t = within * float(id) / float(100);
    float r = clamp(0.5, 0.0, 1.0);
    float g = clamp(0.9*t, 0.0, 1.0);
    float b = clamp(0.2 + 0.2*t, 0.0, 1.0);
    float alpha = clamp(t*t*t, 0.0, 1.0);
    gl_FragColor = vec4(r, g, b, alpha);
    // gl_FragColor = vec4(0.25+0.3*t2, 0.25, 0.25-0.2*t2, within);
    // vec3 col = vec3(0.25+0.3*t2, 0.25, 0.25-0.2*t2);
    // vec3 col = vec3(1.0-0.3*t2, 1.0, 1.0-0.2*t2);
    // gl_FragColor = vec4(col, 1);
  }
</script>

<script id="vertex-shader" type="x-shader/x-vertex">
  attribute vec4 a_position;
  varying vec4 v_color;
  varying vec2 vcoord;    
  void main() {
    gl_Position = vec4(a_position.xy, 0.0, 1.0);
    v_color = v_color;
    vcoord = a_position.xy;
  }
</script>


{{- with resources.Get "js/gl.js" }}
{{- if eq hugo.Environment "development" }}
{{- with . | js.Build }}
<script src="{{ .RelPermalink }}"></script>
{{- end }}
{{- else }}
{{- $opts := dict "minify" true }}
{{- with . | js.Build $opts | fingerprint }}
<script src="{{ .RelPermalink }}" integrity="{{- .Data.Integrity }}" crossorigin="anonymous"></script>
{{- end }}
{{- end }}
{{- end }}