{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
<nav>
  <a id="close-nav" class="header-item">
    {{ partial "animation.html" (dict "size" "800") }}
  </a>
  {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
</nav>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
{{- $page := .page }}
{{- range .menuEntries }}
{{- $attrs := dict "href" .URL }}
{{- if $page.IsMenuCurrent .Menu . }}
{{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
{{- else if $page.HasMenuCurrent .Menu .}}
{{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
{{- end }}

<a class="header-item" {{- range $k, $v :=$attrs }} {{- with $v }} {{- printf " %s=%q" $k $v | safeHTMLAttr }} {{- end
  }} {{- end -}}>{{ or (T .Identifier) .Name | safeHTML }}</a>
<!-- {{- with .Children }}
      
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
      
    {{- end }} -->

{{- end }}
{{- end }}